body {
    background-color: #ED811C;
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    animation: fadeIn 5s ease-in-out;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    margin-right: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-item a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}  

.about-section {
    padding: 100px 20px;
    animation: fadeIn 3s ease-in-out;
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
    padding: 0;
}


.header {
    animation: fadeIn 5s ease-in-out;
    color: #fff;
    text-align: center;
    font-size: 3rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}