body {
    background-color: #ED811C;
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    margin-right: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-item a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}  

.about-section {
    text-align: center;
    padding: 100px 20px;
    color: #fff;
}