body {
    background-color: #7FE67A;
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    margin-right: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-item a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

/* .about-section {
    text-align: center;
    padding: 100px 20px;
    color: #fff;
} */


@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 56px;
        right: 24px;
        padding: 12px 16px;
        border-radius: 8px;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 12px;
    }

    .nav-links.open {
        display: block;
        background-color: #fff;
    }
       .nav-list {
        flex-direction: column;
        font-size: 1.5rem;
        gap: 12px;
    }

    .nav-item a {
        font-size: 1.5rem;
        color: #000;
    }
    
    .main-intro {
        padding: 80px 10px;
        margin-top: 300px;
        font-size: 2rem;
    }
}