body {
    background-color: #B657D9;
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    animation: fadeIn 5s ease-in-out;
    font-style: normal;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    margin-right: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.main-header {
    animation: fadeIn 5s ease-in-out;
    color: #fff;
    text-align: center;
    font-size: 3rem;
}   

.skill-category {
    padding: 50px 20px;
    animation: fadeIn 3s ease-in-out;
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hamburger{
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #fff;
    border-radius: 2px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-item a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

img {
    width: 20%;
    height: 60%;
    margin-right: 10px;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}


@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 56px;
        right: 24px;
        padding: 12px 16px;
        border-radius: 8px;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 12px;
    }

    .nav-links.open {
        display: block;
        background-color: #fff;
    }
       .nav-list {
        flex-direction: column;
        font-size: 1.5rem;
        gap: 12px;
    }

    .nav-item a {
        font-size: 1.5rem;
        color: #000;
    }
    
    .main-intro {
        padding: 80px 10px;
        margin-top: 300px;
        font-size: 2rem;
    }
}