* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #27CFF5;
    min-height: 100vh;
    animation-name: colorChange;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    animation: fadeIn 5s ease-in-out;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}   

@keyframes colorChange {
    0% {background-color: #27CFF5;}
    25% {background-color: #7FE67A;}
    50% {background-color: #B657D9;}
    75% {background-color: #ED811C;}
    100% {background-color: #27CFF5;}
}



/* HEADER LAYOUT */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Hide hamburger by default (desktop) */
.hamburger{
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #fff;
    border-radius: 2px;
}

/* Nav desktop */
.nav-links {
    margin-right: 20px;
}

.nav-list {
    display: flex;
    color: #fff;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}


.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}


.nav-item a:hover {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}  

.main-intro {
    animation: textPop 0.5s ease-out forwards;
    text-align: center;
    padding: 100px 20px;
    font-size: 2.5rem;
    color: #fff;
}



.main-intro .main-title ol {
    list-style: none;
    padding: 0;
    height: 5.8rem;
    overflow: hidden;
}

.main-intro .main-title ol li {
    animation: slide-up 12s infinite;
}

@keyframes slide-up {
    0%, 10% {
        transform: translateY(0%);
    }
    15%, 25% {
        transform: translateY(-100%);
    }
    30%, 40% {
        transform: translateY(-200%);
    }
    45%, 55% {
        transform: translateY(-300%);
    }
    60%, 70% {
        transform: translateY(-400%);
    }
    75%, 100% {
        transform: translateY(0%);
    }
}

.main-intro .main-title ol li span {
    height: 0.8rem;
    margin: 10px 0;
    white-space: nowrap;
}

@keyframes textPop {
  0% {
    transform: scale(0.8); /* Slightly smaller initially */
    opacity: 0;
  }
  50% {
    transform: scale(2.0); /* Larger than normal, creating the "pop" */
    opacity: 1;
  }
  100% {
    transform: scale(1); /* Returns to normal size */
  }
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 56px;
        right: 24px;
        padding: 12px 16px;
        border-radius: 8px;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 12px;
    }

    .nav-links.open {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
    }
       .nav-list {
        flex-direction: column;
        font-size: 1.5rem;
        gap: 12px;
    }
    .main-intro {
        padding: 80px 10px;
        margin-top: 300px;
        font-size: 2rem;
    }
}

